.frameborder{
	-fx-background-color: black;
}

.headline .title{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}
.headline .frameControls .button{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 16.0;
	-fx-background-radius: 0px;
}
.headline .frameControls .button:hover{
	-fx-background-color: rgba(196.0,196.0,196.0,0.5);
}
.headline .frameControls .close{
	-fx-text-fill: red;
	-fx-graphic: url('images/close.png');
}
.headline .frameControls .max{
	-fx-graphic: url('images/max.png');
}
.headline .frameControls .min{
	-fx-graphic: url('images/min.png');
}