
 

.popupDialog{
	-fx-background-color: rgb(39.0,39.0,39.0);
}
.popupDialog .label{
	-fx-text-fill: white;
}


.logger{
	-fx-background-color: rgb(39.0,39.0,39.0);
}
.logger .label{
		-fx-text-fill: white;
}



.logger .button{
	-fx-background-color: rgb(137.0,205.0,49.0);
	-fx-background-radius:  0.0;
}
.logger .button:hover{
	-fx-background-color: rgb(157.0,225.0,69.0);
}
.logger .button:pressed{
	-fx-background-color: rgb(105.0,161.0,24.0);
}
.logger .closeButton{
	-fx-background-color: transparent;
	-fx-text-fill: rgb(137.0,205.0,49.0);
	-fx-font-weight: bold;
	-fx-font-size: 16.0;
}
.logger .closeButton:hover{
	-fx-background-color: rgba(196.0,196.0,196.0,0.5);
}

.logger .combo-box{
	-fx-background-color: white;
	-fx-background-radius:  0.0;
}
.logger .combo-box .arrow-button{
	-fx-background-color: rgb(137.0,205.0,49.0);
	-fx-background-radius:  0.0;
}
.logger .combo-box .arrow-button:hover{
	-fx-background-color: rgb(157.0,225.0,69.0);
}
.logger .combo-box .arrow-button:pressed{
	-fx-background-color: rgb(105.0,161.0,24.0);
}

.time-bar{
	-fx-background-color: rgb(068,061,103);
}
.time-bar:hover{
	-fx-background-color: rgb(112,151,191);
}


.jobOverview .text-field:viewing{
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-cursor: normal;
}


.jobOverview .text-area:viewing{
	-fx-background-color: transparent;
	-fx-cursor: normal;
}
.jobOverview .editButton{
	-fx-content-display:  graphic-only; 
	-fx-graphic: url('images/ic_mode_edit_black_18dp_1x.png');
}
.jobOverview .saveButton{
	-fx-content-display:  graphic-only;
	-fx-graphic: url('images/ic_save_black_18dp_1x.png');
}

